:root{
    --color-primary: #FF7B54;
    --color-text-on-primary:#FFF;
    --color-button-border: var(--color-text-on-primary);
    --color-button-primary-bg: var(--color-text-on-primary);
    --color-button-primary-text: var(--color-primary);
    --color-text-on-secondary: #000000;
}   
body{
    font-family: Inter, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
}
.main{
    padding:150px;
}
svg:hover,svg:focus{
    cursor: pointer;
}
.menu{ 
    display: none;
}
.menu path{
    fill: var(--color-text-on-primary);
}
.close{
    display: none; 
}
.close path{
    fill: var(--color-text-on-primary);
}

a{
    color: inherit;
    text-decoration: inherit;
}
p,h2{
    margin: 0;
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 34px;
    grid-template-rows: 1fr;
    grid-template-areas: "logo nav shopping-cart";
    align-items: center;
    padding: 0 60px 0 60px;
}
.header__link{
    font-size: 40px;
    font-family: InterBold;
}
header img{
    grid-area: shopping-cart;
}
.nav{
    display: inline-block;
    justify-self: end;
}
.nav__list{
    list-style: none;
    display: flex;
}
.nav__list-item{
    margin-inline-end: 36px;
    font-size: 32px;
    font-family: InterBold;
}
.menu, .close{
    cursor: pointer;
}


@media(max-width: 840px){
    .menu{
        display: block;
    }
    
    .nav{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: var(--color-primary);
        top: 60px;
        left: -100%;
        padding-top: 20px;
        transition: left 0.3s linear;
    }
    .close--show{
        display: block;
    } 
    .menu--hide{
        display: none;
    }
    .nav--visible{
        left: 0;
        padding-left: 10vw;
    }
    .nav__list{
        align-items: left;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
    }
    .nav__list-item{
        font-size: 50px;
        font-family: InterBold;
    }
    .header{
        grid-template-columns: 33px 1fr 34px; 
        justify-items: center;
        grid-column-gap: 3vw;
    }
    .body--no-scroll{
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    html.body--no-scroll{
        overflow: hidden;
    }
}

