@import './base.css';
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: InterBold;
    src: url(../fonts/Inter-Bold.ttf);
}

.shopping-cart-primary g path{
    fill:var(--color-text-on-primary);
}
.contact__header{
    font-size: 96px;
    text-align: center;
    padding-bottom: 3.5% ;
}
.contact__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
h2.contact__faq{
    white-space: normal;
}

h2{
    white-space: nowrap;
    font-size: 64px;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
}

h2.form__header{
    text-align: center; 
}
.contact__faq__wrapper{
    min-width: 100%;
    margin-left: 5%;
}
.faq__insert{
    list-style: none;
    font-family: InterBold;
    font-size: 40px;
}
.faq__answer{
    font-family:Inter;
    font-size: 25px;
}
.faq__redirect{
    display: inline-block; /* Added this line */
    margin: 0; /* Added this line */
    font: 32px Inter;
    align-items: center;
    color: var(--color-button-border);
    width: 50%;
    min-height: 50px;
    padding: 1%;
    background-color: var(--color-button-primary-text);
    border: 6px solid var(--color-button-border);
    cursor: pointer;
}
.submit{
    align-items: center;
    color: var(--color-button-border);
    width: 30%;
    height: 100%;
    font: 32px Inter;
    background-color: var(--color-button-primary-text);
    border: 6px solid var(--color-button-border);
    cursor: pointer
 
}
.faq__redirect:not(:hover), .submit:not(:hover){
    color: var(--color-button-border);
    background-color: var(--color-primary);
    transition: .5s;
}
.submit{
    margin-top: 1%;
    padding: 1%;
}
.faq__redirect:hover, .faq__redirect:focus, .submit:hover, .submit:focus{
    color: var(--color-button-primary-text);
    background-color: var(--color-button-border);
    border: 15px solid var(--color-button-border);
    transition: .5s;
} font: 32px Inter;
    width: 50%;
    min-height: 50px;
    padding: 1%;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.form__list{
    margin: 0;
    padding: 0;
    padding-left: 7.5%;
}

.form__item textarea{
    font-family: Inter;
    resize: none;
    width: 100%;
    min-height: 200px;
    align-items:stretch;
}
.form__item label{
    font-size: 40px;
}
.form__item{
    list-style: none;
}

.form__item label{
    font-family: InterBold;
}

.form__item input{
    font-family: Inter;
    width: 100%;
}

@media(max-width: 1400px){
    .contact__wrapper{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 1200px){
    .contact__faq__wrapper{
        padding-bottom: 20vh;
    }
}

@media(max-width: 850px){
    .contact__header{
        font-size: 75px;
    }
    .contact__faq{
        font-size: 50px;
    }
    .faq__insert{
        font-size: 30px;
    }
    .faq__answer{
        font-size: 20px;
    }
    .form__header{
        font-size: 50px;
    }
    .form__item label{
        font-size: 30px;
    }
}

@media(max-width: 600px){
    .contact__header{
        font-size: 50px;
    }
    .contact__faq{
        font-size: 30px;
    }
    .faq__insert{
        font-size: 20px;
    }
    .faq__answer{
        font-size: 20px;
    }
    .form__header{
        font-size: 30px;
    }
    .form__item label{
        font-size: 20px;
    }
    .faq__redirect{
        width: 90vw;
    } 
}